<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuhao.project.mapper.BlogMapper">

    <sql id="Base_Column_List">
        id,content,contentHtml,
        contentCover,authorId,authorName,
        authorAvatar,tag,isHot,
        isTop,createTime,updateTime
    </sql>
    <select id="getPageList" resultType="com.wuhao.project.model.entity.Blog">
    SELECT
    tb.*,
    COUNT(DISTINCT tbl.id) AS likeNum,
    COUNT(DISTINCT tbc.id) AS collectNum,
    COUNT(DISTINCT tc.id) AS messageNum
    FROM
        tb_blog tb
    LEFT JOIN
        tb_blog_like tbl ON tb.id = tbl.blogId
    LEFT JOIN
        tb_blog_collect tbc ON tb.id = tbc.blogId
    LEFT JOIN
        tb_comment tc ON tb.id = tc.articleId
    <where>
        and tb.isDeleted = 0
        <if test="request.title != null and request.title != ''">
          and title like concat('%',concat(#{request.title},'%'))
        </if>
        <if test="request.tag != null and request.tag != ''">
          and tag like concat('%',concat(#{request.tag},'%'))
        </if>
        <if test="request.beginDate != null and request.endDate != null">
          and createTime between #{request.beginDate} and #{request.endDate}
        </if>
    </where>
    GROUP BY
    tb.id
    ORDER BY
    tb.createTime desc
    </select>
    <select id="getHotBlog" resultType="com.wuhao.project.model.response.HotBlogResponse">
        SELECT
            count( 1 ) as likeCount,
            blogId as blogId,
            b.title as title
        FROM
            `tb_blog_like` AS l
                LEFT JOIN tb_blog b ON l.blogId = b.id
        WHERE b.isDeleted = 0
        GROUP BY
            l.blogId
        ORDER BY
            likeCount desc
        LIMIT 10
    </select>
    <select id="getHotUser" resultType="com.wuhao.project.model.response.HotUserResponse">
        SELECT
            count( 1 ) as writeCount,
            u.id as userId,
            u.username as username
        FROM
            `tb_blog` AS b
                LEFT JOIN tb_user as u ON b.authorId = u.id
        where u.state=0
        GROUP BY
            b.authorId
        ORDER BY
            writeCount desc
            LIMIT 10
    </select>

</mapper>
