<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuhao.project.mapper.BlogMapper">

    <sql id="Base_Column_List">
        id,content,contentHtml,
        contentCover,authorId,authorName,
        authorAvatar,tag,isHot,
        isTop,createTime,updateTime
    </sql>

</mapper>
