<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuhao.project.mapper.CustomizedMapper">


    <select id="getAllList" resultType="com.wuhao.project.model.entity.Customized">
       select
       tic.id as id,
       tic.userId as userId,
       tu.userName as userName,
       tic.name as name,
       tic.demandDescription as demandDescription,
       tic.functionDescription as functionDescription,
       tic.technologyDescription as technologyDescription,
       tic.budget as budget,
       tic.state as state,
       tic.createDate as createDate
       from
       tb_interface_customized tic
       left join tb_user tu on tic.userId=tu.id
    </select>
</mapper>
